*{
  box-sizing: border-box;
}

a{
  cursor: pointer;
}

body{
  color: #222;
  background-color: #eee;
  background-image: url('backgroundimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

img{
  max-width: 100%;
}

main{
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;  
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  padding: 10px 40px;
  color: white;
  background: linear-gradient(to right, #7db9e8, #0b5aa7);
}

header img{
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.headerlogo{
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* header a{
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  font-weight: bold;
} */

header a.logo{
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.7rem;
}

header nav{
  display: flex;
  gap: 15px;
}

div.post{
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: .9fr 1.1fr; */
  gap: 20px;
  margin-bottom: 30px;
  color: white;
}

@media screen and (min-width : 700px) {
  div.post{
    grid-template-columns: .9fr 1.1fr;
  }
}

.allposts{
  border: 4px solid white;
  padding: 1rem;
  border-radius: 20px;
}


div.post div.texts a{
  text-decoration: none;
  color: inherit;
}

div.post div.texts h2{
  margin: 0;
  font-size: 1.8rem;
}

div.post p.info{
  margin:6px 0;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}



div.post p.summary{
  margin: 10px 0;
  line-height: 1.4rem;
}

div.post img{
  border-radius: 20px;
}

div.post-page{
  color: white;
}

div.post-page div.image{
  max-height: 200px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
  
}

div.post-page a{
  color: #333;
  text-decoration: underline;
}

div.post-page h1{
  text-align: center;
  margin: 10px 0 5;
}

div.post-page time{
  text-align: center;
  display: block;
  font-size: .7rem;
  
}

div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;

}

div.post-page div.content{
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 0 20px;
}

div.post-page div.content p{
  line-height: 2rem; 
}

div.edit-row{
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn{
  background-color: rgb(207, 207, 207);
  color: black;
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  gap : 5px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

a svg{
  height: 20px;
}

#login-form-wrap_post{
  background-color: #fff;
  width: 100%;;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form-wrap {
  background-color: #fff;
  width: 40%;;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 0 35px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="text"],
input[type="password"] ,
input[type="title"],
input[type="summary"],
input[type="file"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}


#button {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

#button:hover {
  background-color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#create-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

#create-account-wrap a{
  color: #329dd5;
}

#button_register {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  border: none;
  display: block;
  background-color: #3ca9e2;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center; 
  margin-bottom: 20px;
}

#button_register:hover {
  background-color: #329dd5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.iconlistbtn{
  width: 100%;
  height: 100%;
  cursor: pointer; 
}

.iconlist{
  width: 30px;
  height: 30px;
  position: relative;
}

.mobilelistnav{
  min-width: 200px;
  background-color: black;
  position: absolute;
  top : 100%;
  right: 0;
  font-weight: 700;
  font-size: 18px;
  padding: 0 25px;
  border-radius: 10px 0 0 10px;
}

.createnewpostnavbar{
  font-size: 22px;
  font-weight: bold;
}

.logoutnavbar{
  font-size: 22px;
  font-weight: bold;
}

.headernav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width : 700px) {
  .iconlist{
    display: none;
  }
}

@media screen and (max-width : 700px) {
  .createnewpostnavbar{
    display: none;
  }
  .logoutnavbar{
    display: none;
  }
  .headernav{
    gap: 0;
  }
}
